<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Telefonfri.se | Minska din skärmtid</title>
  <meta name="description" content="Lär dig minska din skärmtid från 6 timmar till under 2 timmar per dag med beprövade beteendevetenskapliga metoder." />
  <meta name="author" content="Jens Bäckbom & Niklas Laninge" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!-- Add Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <meta property="og:title" content="Telefonfri.se | Minska din skärmtid" />
  <meta property="og:description" content="Lär dig minska din skärmtid från 6 timmar till under 2 timmar per dag med beprövade beteendevetenskapliga metoder." />
  <meta property="og:type" content="website" />
</head>
