---
---


@tailwind base;
@tailwind components;
@tailwind utilities;


H1 {
	color: black;
	font-size: 2rem;
	font-weight: 800;
	line-height: 1;
}

H1:hover, a:hover > H1, .post-title-large {
	background-color: #FFFF00;	
	text-decoration: underline;
}

.post-title-large {
	font-size: 2.5rem;
}

.post-title-md {
	font-size: 2rem;
}

.article-text {
	font-size: 1.2rem;
}

.article-text > p > a{
	color: #0000FF !important;
}

.article-text > p {
	margin-bottom: 1rem;
}