<!DOCTYPE html>
<html lang="{{ site.lang | default: "sv-SE" }}">
  {% include head.html %}
  <body>
    <div class="bg-white">
      {% include header.html %}


      <div class="flex min-h-full flex-col">
        <!-- 3 column wrapper -->
        <div class="mx-auto w-full max-w-7xl grow lg:flex xl:px-2">

          <div class="px-4 py-4 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6 pb-24">
            <!-- Main area -->

           {{ content }} 

          </div>

          <div class="shrink-0 border-t border-gray-200 px-4 sm:px-6 py-2 lg:w-72 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
            <!-- Right column area -->
            {% include mid_column.html %}
            <!--
            <x-placeholder message="Main area">
              <div class="relative h-[367px] overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 xl:h-[608px]">
                <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                  <defs>
                    <pattern id="pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                      <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                    </pattern>
                  </defs>
                  <rect stroke="none" fill="url(#pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52)" width="100%" height="100%"></rect>
                </svg>
              </div>
            </x-placeholder>
            -->
          </div>

          <div class="shrink-0 border-t border-gray-200 px-4 py-2 sm:px-6 lg:w-72 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
            <!--        
            <x-placeholder message="Main area">
              <div class="relative h-[367px] overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 xl:h-[608px]">
                <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                  <defs>
                    <pattern id="pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                      <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                    </pattern>
                  </defs>
                  <rect stroke="none" fill="url(#pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52)" width="100%" height="100%"></rect>
                </svg>
              </div>
            </x-placeholder>
            -->

            <aside class="sticky top-8 hidden w-100 shrink-0 xl:block">
            <!-- Banner area -->
            {% include banners.html %}
            <!--
            <x-placeholder message="Main area">
              <div class="relative h-[367px] overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 xl:h-[608px]">
                <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                  <defs>
                    <pattern id="pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                      <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                    </pattern>
                  </defs>
                  <rect stroke="none" fill="url(#pattern-7b69d9f9-ca30-48c9-a80a-268e7b084e52)" width="100%" height="100%"></rect>
                </svg>
              </div>
            </x-placeholder>
            -->
            </aside>


          </div>
        </div>
      </div>

    </div>  


  {% include footer.html %}


  </body>
</html>
